
body{
    height: 100%;
}
h1 {
    position: absolute;
    color: white;
    top: 275px;
    left: 80px;
    width: 50%;
    border: solid yellow 2px;
    animation-delay: 15s;
    font-weight: bold;
    font-style: italic;
}
#floateth {
    position: relative;
    -webkit-animation: floatBubble 40s infinite  normal ease-out;
    animation: floatBubble 40s infinite  normal ease-out;
    height: 200px;
    width: 200px;
    display: inline-block;
}
#float {
    position: relative;
    -webkit-animation: floatBubble 30s infinite  normal ease-out;
    animation: floatBubble 30s infinite  normal ease-out;
    height: 200px;
    width: 200px;
    display: inline-block;
}
#floated {
    position: relative;
    -webkit-animation: floatBubble 55s infinite  normal ease-out;
    animation: floatBubble 55s infinite  normal ease-out;
    height: 200px;
    width: 200px;
    display: inline-block;
}
#floating {
    position: relative;
    -webkit-animation: floatBubble 35s infinite  normal ease-out;
    animation: floatBubble 35s infinite  normal ease-out;
    height: 200px;
    width: 200px;
    display: inline-block;
}
#floats {
    position: relative;
    -webkit-animation: floatBubble 155s infinite  normal ease-out;
    animation: floatBubble 155s infinite  normal ease-out;
    height: auto;
    width: auto;
    display: inline-block;
}
#floater {
    position: relative;
    -webkit-animation: floatBubble 55s infinite  normal ease-out;
    animation: floatBubble 55s infinite  normal ease-out;
    height: auto;
    width: auto;
    display: inline-block;
}
#floaty {
    position: relative;
    -webkit-animation: floatBubble 85s infinite  normal ease-out;
    animation: floatBubble 85s infinite  normal ease-out;
    height: auto;
    width: auto;
    display: inline-block;
}
#done {
    position: relative;
    -webkit-animation: floatBubble 180s infinite  normal ease-out;
    animation: floatBubble 180s infinite  normal ease-out;
    height: auto;
    width: auto;
    display: inline-block;
}
@-webkit-keyframes floatBubble {
    0% {
        top:800px;
    }
    100% {
        top: -500px;
    }
}
@keyframes floatBubble {
    0% {
        top:800px;
    }
    100% {
        top: -500px;
    }
}